/* GLOBAL */
a{text-decoration: none; color:inherit; }
a:visited{color: inherit;}
a:hover{color:red; cursor: pointer;}
.red {color:red!important;}

@font-face {
  font-family: Roboto;
  src:  url('/static/Roboto-Regular.ttf'),
        url('/static/Roboto-Bold.ttf'),
        url('/static/Roboto-Light.ttf'),
        url('/static/Roboto-Black.ttf'),
        url('/static/Roboto-Medium.ttf');
}

html,body{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
html,body,div,a{font-family: 'Roboto', sans-serif;}

/* MAIN DIVISION */

.page-wrapper{
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.left{
  position: relative;
  width: 20%;
  padding: 3em 2em 2em 2em;
  & nav{
    height: 100vh;
    position: fixed;
  }
}

.right{
  max-width: 1200px;
  width: 80%;
  padding: 2em 5em 2em 2em;
}


/* NAVIGATION */

.input{
  /* padding: 0 0 0 30px; */
  border-bottom: 1px solid grey;
  width: fit-content;
  & span{
    z-index: 200;
    border: 1px solid lightgrey;
    border-radius: 50%;
    display: -webkit-inline-box;
    height: 25px;    width:  25px;
    padding: 0.2em;
    margin-left: -30px;    margin-bottom: -4px;
    background-image: url("/static/search.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    box-shadow: 0px 0px;
    transition: box-shadow 0.5s linear;
  }
  & span:hover{
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 4px 3px lightgrey;
    /* background-size: 40%; */
    /* background-position: center center; */
  }
  & input{
    outline: none;    border: none;
    padding-top: 5px;    padding-bottom: 5px;    padding-left: 0; padding-right: 35px;
    font-size: 1em;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  &::placeholder{
    color: lightgrey;
    font-family: inherit;
    font-weight: 300;
  }
  &:hover{
    border-bottom: 1px solid red;
  }
 }

.input:focus-within{
   border-bottom: 1px solid red;
 }

 .navigation{
   & a{
     letter-spacing: 0.08em;
     color: black;
     padding-top: 1em;
   }
   & a:visited{
     color:black;
   }
   & a:hover{
     color: red;
   }
 }

 .nav-our-products{
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 0.08em;
   margin-top: 1.5em;
   margin-bottom: 1em;
 }

 .filter-btn{
   cursor: pointer;
   display: block;
   font-size: 0.9em;
   background-color: rgba(0,0,0,0.3);
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 0.2em;
   border-radius: 0.3em;
   width: 5.5em;
   text-align: center;
   padding: 0.5em!important;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   & div{
     padding-top: 0;
     padding: 0;
     color: white!important;
   }
   &:hover{
     background-color: darkslategray;
   }
}

.nav-category-header-wrapper{
  margin-top: 1em;
}

.nav-tabbed-subcategories{
  margin-top:    0.4em;
  margin-bottom: 0.5em;
  padding-left: 0.8em;
  padding-bottom: none;
  border-left: 1px solid grey;
  & div{
    padding-top: 0.2em;
  }
}

.nav-category-header{
  font-weight: 700;
}

.nav-contact-about-subpages-wrapper{
  margin-top: 2em;
}

.nav-contact-about-subpages{
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.5em;
}

.social-icons{
  position: absolute;
  bottom:5em;
}

.filter-popup-wrapper{
  /* display: flex; */
  align-items: center;
  display: none;
  position: absolute;
  top: 0; left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  z-index: 250;
}

.filter-popup{
  width: 25em;
  height: 60vh;
  border: 2px solid black;
  position: relative;
  background-color: white;
  & p, & label{
    display: block;
    padding: 0.2em;
  }
}

.filter-popup{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & input[type=checkbox]{
    margin-right: 0.3em;
  }
  & label{
    text-transform: capitalize;
  }
  & label:hover{
    cursor: pointer;
    color: red;
  }
  & p{
    margin-top: 3em;
    margin-bottom: 0.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  & .divide-row{
    padding: 3em 2em 1em 4em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & .float-left{
      width: 60%;
    }
    & .float-right{
      width: 40%;
    }
  }
  & .filter-btn{
      margin-bottom: -5em;
  }
}

.x_butt_filter{
  position: absolute;
  right: 0;
  top: -0.7em;
  padding: 0.2em;
  border-radius: 50%;
  color: white;
  width: 1.1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);

}

.x_butt_filter:hover{
  cursor: pointer;
  background-color: red;
}

#put-xxx{
  position: relative;
  width: 8em;
}

#logo{
  max-height: 3em;
  width: auto;
}

/* LANDING PAGE */

.banner-loader{
  max-height: 40vh;
  overflow-y: hidden;
  & img{
    width: 100%;
  }
}

.landing-page-categories-wrapper{
  & hr{
      margin-bottom: 1em;
  }
  margin-top: 2.5em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  width: 100%;
  object-fit: cover;
  & .text-wrapper{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
  }
   & .categories-images-wrapper{
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 1fr 1fr;

     }
   & img{
     display: block;
     width: 100%;
     object-fit: cover;
     height: auto;
   }
   & .categories-single-image-wrapper{
     position: relative;
     width: 100%;
   }
   & .categories-single-image-wrapper:hover p{
     color: red;
   }
   & .text-style-wrapper{
     display: block;
     position: absolute;
     width: 101%;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     text-align: center;
     padding: 1em 0 1em 0;
     text-transform: capitalize;
     font-weight: 700;
     letter-spacing: 0.08em;
     font-size: 1.2em;
     color: black;
     }
}

/* PRODUCTS GRID */

.wrapper-products{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  & div p{
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 900;
    color: darkslategray;
    margin-left: 0.3em;
    margin-bottom: 0;
    margin-top: 0.2em;
    padding: 0.1em;
  }
  & div span{
    color: grey;
    font-weight: 500;
    margin-left: 0.35em;
    padding: 0.1em;
    font-size: 0.7em;
  }
}

.wrapper-inner-products{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-helper{
  font-size: 0.95em;
  display: none;
  position: absolute;
  padding-bottom: 15%;
  z-index: 101;
  font-weight: 900;
  cursor: pointer;
  text-shadow: 0px 0px 5px white;
}

.post-thumb-image{
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.wrapper-inner-products:hover .post-thumb-image{
  opacity: 0.3;
}

.wrapper-inner-products:hover .hover-helper{
  display: block;
}

.post-thumb-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:100vw;
  box-sizing:border-box;
}

.products-top-description{
  & a{
    padding-right: 0.5em;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  & .filters-headline{
    margin: 0;
    display: block;
  }
}

.filters-headline-before{
  display: inline-block;
  width:1em;
  height: 1em;
  background-color: rgba(255, 0, 0, 0.5);
  margin-right: 0.2em;
  transform: translateY(0.1em);
  border-radius: 50%;
}

.hr-products-divider{
  margin-bottom: 2em;
}

@media (max-width:520px) {
  .wrapper-products{
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr))!important;
  }
}

/* SINGLE POSTS */

.wrapper-single-post{
  padding-top: 2em;
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(450px, 1fr))!important;
  & h1{
    margin-top: 3em;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.07em;
    font-weight: 900;
  }
  & .single-images img{
    width: 100%;
    margin-bottom: 1em;
  }
  & .single-desc{
    padding: 4em;
  }
  & .inline-wrapper{
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    & h2{
      font-size: 1.2em;
      text-transform: uppercase;
      padding-right: 0.5em;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    & .box{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid grey;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-top: 0.3em;
      margin-right: 0.5em;
      width: fit-content;
      height: 2em;
    }
    & p{
      padding-top: 0.3em;
      margin: 0;
      font-size: 1em;
      color: grey;
      text-transform: uppercase;
    }
  }
}

.pre-white{
  white-space: pre;
}

.price{
  font-size:1.4em;
  color: darkslategray;
}

.wrapper-product-navigation{
  color: grey;
  font-size: 0.8em;
}

.sec_im_2 {
  display: none;
}

@media (max-width:1100px) {
  .single-desc{
    padding: 2em;
  }
  .sec_im_1 {
    display: none;
  }
  .sec_im_2 {
    display: block;
  }
}


/* CONTACT */

.subpages-title{
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.07em;
  font-size: 3.5em;
  color: dimgrey;
}

.page-wrapper-contact{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;

  & .right-contact{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    width: 50%;
    padding: 2em;
    & form{
      margin-top: 1em;
      width: 90%;
    }
    & .input_div{
      margin-bottom: 1.5em;
    }
    & label{
      display: block;
      padding-bottom: 0.4em;
      color: grey;
      letter-spacing: 0.08em;
    }
    & input, & textarea{
      display: block;
      max-width: 400px;
      font-size: 1.1em;
      width: 100%;
    }
    & textarea{
      min-height: 9em;
    }
    & input[type="submit"]{
      cursor: pointer;
      letter-spacing: 0.1em;
      border: 0;
      box-shadow: 0;
      background-color: transparent;
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      padding: 0.1em;
    }
    & input[type="submit"]:disabled{
      color: red;
    }
  }
}

.left-contact{
  position: relative;
  width: 50%;
  padding: 2em;
  & .capital-headline{
    letter-spacing: 0.07em;
    margin-bottom: 1em;
  }
  & .small-text{
    color: grey;
    font-size: 0.8em;
  }
  & .contact-text-page{
    margin-top: 3em;
    padding-right: 1em;
    color: dimgrey;
    max-width: 450px;
    line-height: 1.7em;
  }
}


/* MEDIA QUERY */

@media (max-width: 1000px) {
  .left{
    width: 100vw;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 250;
    height: 100%;
  }
  .navigation{
    width: 100vw;
    position: relative;
  }
  .right{
    width: 100%;
    padding: 1em;
  }
  .page-wrapper-contact{
    display: block;
  }
  .left-contact{
    padding: 0;
    width: 95vw;
  }
  section.right-contact{
    margin-top: 2em;
  }
  .page-wrapper-contact .right-contact{
    float: left;
    max-width: 95vw;
    width: 80%;
    padding: 0;
  }
  .left-contact .contact-text-page{
    width: 100%;
    max-width: 95vw;
    padding-right: 4em;
  }
}

.hamburger{

}
